/*
Theme Name: Narva Noortekeskus
Author: Ilja Andrejev
Description: Narva Noortekeskuse Wordpress Theme.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEz0dL_nz.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEzQdL_nz.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEzwdL_nz.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEzMdL_nz.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEz8dL_nz.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEz4dL_nz.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEzAdLw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc3CsTKlA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc-CsTKlA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc2CsTKlA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc5CsTKlA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc1CsTKlA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc0CsTKlA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xFIzIFKw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xMIzIFKw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xEIzIFKw.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xLIzIFKw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xHIzIFKw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc3CsTKlA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc-CsTKlA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc2CsTKlA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc5CsTKlA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc1CsTKlA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc0CsTKlA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic3CsTKlA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic-CsTKlA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic2CsTKlA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic5CsTKlA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic1CsTKlA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic0CsTKlA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc3CsTKlA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc-CsTKlA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc2CsTKlA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc5CsTKlA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc1CsTKlA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc0CsTKlA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc6CsQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
    background-color: #e9e9e9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header {
    background-image:  radial-gradient(ellipse at left bottom, #ff6f2d , #ffd300);
    min-height: 150px;
    margin-bottom: 20px;
}

.color-green{
    color: #6fc172;
}
.color-orange{
    color: #f58422;
}

h2 {
    font-size: 20pt;
    color: grey;
    font-weight: 300;
}


.logo-container .logo {
    height: 100px;
    width: 100%;
    padding: 20px 5px 15px 170px;
    background-color: white;    background-size: 130px;
    background-position: left center;
    background-position-x: 15px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 810.05 447.57'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%236fc172;}.cls-2{fill:%2321419a;}.cls-3{fill:%23fff201;}.cls-4{fill:%23ffcb09;}.cls-5{fill:%23504da1;}.cls-6{fill:%23f58422;}.cls-7{fill:%23252122;}.cls-8{fill:%2324439b;}.cls-9{fill:%23038ad0;}.cls-10{fill:%23262223;}.cls-11{fill:%23272324;}.cls-12{fill:%23ed1f26;}.cls-13{fill:%236c84c1;}.cls-14{fill:%2373c275;}.cls-15{fill:%23ec058c;}.cls-16{fill:%23fff;}%3C/style%3E%3C/defs%3E%3Ctitle%3Ennk_logo%3C/title%3E%3Cpath class='cls-1' d='M721,294.32c-3.71.74-7.41,1.46-11.11,2.22-2.94.61-3,.64-3.56-2.38a72.44,72.44,0,0,0-3.54-12.8,16,16,0,0,0-1.1-2.35c-.82-1.4-1.47-1.43-2.26,0-1.53,2.74-3,5.53-4.43,8.31-2.68,5.07-5.33,10.16-8,15.22-1.12,2.1-1.4,2.12-3.49.92a12.41,12.41,0,0,1-2.72-2.29,8.26,8.26,0,0,0-5.38-2.7,9.94,9.94,0,0,0-2.57-4.78c-3.78-4.17-7.87-8.05-11.6-12.27a9.21,9.21,0,0,0-7.06-3.49,11.81,11.81,0,0,0-1.51-5.27,5.76,5.76,0,0,1,0-5q11.48-26.94,22.83-53.94a3.28,3.28,0,0,1,3.63-2.32c6.94.08,13.89,0,20.84,0,7.53.72,15.09.91,22.65,1.15,1.53.51,3.63-.39,4.62,1s.88,3.06,1.3,4.62c3.53,13.17,7.11,26.32,10.59,39.5a195.25,195.25,0,0,1,5.23,24.09,28.71,28.71,0,0,1,.25,6.79C736.17,288.34,728.52,291.07,721,294.32Z'/%3E%3Cpath class='cls-2' d='M118.54,205.53c5.16.65,8.45,3.59,10.27,8.35,7.31,19.05,16.12,37.44,24.78,55.89a107.54,107.54,0,0,1,6.87,17.55c.11.41.18.83.28,1.28-1.76,1.09-3.84.94-5.59,1.79a8.13,8.13,0,0,0-2.83-1.49c-3.37-1.27-6.91-1.51-10.45-1.76-5.18-.36-10.3.62-15.46.74l-23.38,0a71.46,71.46,0,0,1-8.76-.32c-5.46-.84-11,0-16.43-1H67.72c.49-3.73.86-7.12,1.41-10.49,2.69-16.6,6.13-33.06,9.25-49.57.79-4.16,1.52-8.32,2.31-12.48a27.86,27.86,0,0,1,1.64-5.61c.91-2.18,2.26-3.71,4.87-3.5.43.64,1.1.6,1.74.6Z'/%3E%3Cpath class='cls-3' d='M683.55,199.2c-2.53-.55-3.46-2-3.85-4.69-2.13-14.89-4.55-29.75-6.85-44.62-.53-3.42-1.06-6.85-1.52-10.28-.36-2.67-.23-2.79,2.1-4,1.84-1,3.54-2.11,4.2-4.26,5.36-2.07,8.68-5.92,9.51-11.6a33.16,33.16,0,0,0-.07-9c-1.49-4.37-1.49-4.37,3.08-4.87l6.11-.66q.36,4.21.72,8.41a16.66,16.66,0,0,0,3.94,9.77,3.7,3.7,0,0,0,3.08,1.42c4.08,0,7.05-1.71,8.83-5.46,1.31-2.76,1.79-5.77,2.78-8.63a20.66,20.66,0,0,0,8.17-4.4c.16-.14.34-.27.5-.41.75-.67,1.57-1.24,2.61-.78,1.24.55.37,1.72.66,2.56a12.81,12.81,0,0,0-1.67,8,40.4,40.4,0,0,0,3.93,12.47,13.94,13.94,0,0,0,4.2,4.46,5,5,0,0,1,2.09,4.8c-.49,4.41-1,8.83-1.47,13.24-1,8.72-2,17.43-3.05,26.14-.55,4.51-1.37,9-1.78,13.52-.2,2.25-1.17,3.32-3.25,3.71a9.35,9.35,0,0,0-1.52.57,5.93,5.93,0,0,0-1,0Z'/%3E%3Cpath class='cls-4' d='M472.12,117.59l12.8-3.47a36.13,36.13,0,0,1,.65,4.83c0,1.76.88,2.21,2.4,2.32,5.31.4,10.61.87,15.91,1.28,2,.16,2.43-.19,2.74-2.28.22-1.5.37-3,.56-4.52a148.17,148.17,0,0,0,15.64.53,6.12,6.12,0,0,0,.68,2.46q4.27,9.74,8.5,19.5c-2.51,3.5-3,7.57-3.23,11.7-.48,9.83-.9,19.67-1.38,29.5-.16,3.26-.45,6.5-2.72,9.14l-41.38,1.55c-2.74-1.59-3.9-4.26-4.88-7.07-1.72-5-2.16-10.18-3.11-15.3-1.05-5.65-1.87-11.36-3.32-16.93-.82-3.14-1.64-6.32-3.9-8.84,1.27-2.36,2.36-4.84,3.85-7.05a13.24,13.24,0,0,0,1.79-10.48C473.25,122.16,472.65,119.88,472.12,117.59Z'/%3E%3Cpath class='cls-5' d='M352.93,116.27c1.31,2.36,3.54,3.73,5.58,5.32s1.91,1.55.75,3.67c-4.32,7.89-11.34,11.27-20,11.73-4.2.22-8.42,0-12.63,0-1.36-1.38-2.67-2.81-4.09-4.14a25.42,25.42,0,0,1-7.57-14c-.36-1.79-.49-3.63-.86-5.42-.84-4.1-1.53-8.28-4.32-11.67-.46-11.46-1-22.92,2.22-34.16a15.17,15.17,0,0,0,.82-5.75,5.42,5.42,0,0,0-3.57-4.65c-1.74-.59-3.39,1-4.56,2.44a6.06,6.06,0,0,0-1.11,3.66,36.51,36.51,0,0,0,1,9c.75,3.47,2,6.86,1.79,10.51-.16,2.83-1,3.89-3.8,4.82l-.27-.26c2.31-5.07,1.61-10-1-14.69A103.87,103.87,0,0,0,291,57.39c-.44-1.5-1.41-.9-2.27-.54a19.13,19.13,0,0,1-9,1.85c-3.1-1.61-5.78-3.64-7.35-7,.48-.14.7-.28.87-.24,4.81,1.22,7.88-1.24,10.34-4.93.78-1.17,1.48-2.4,2.15-3.64,3.89-7.27,9.93-11,18.18-11S318.12,35.82,322,43.08a196.78,196.78,0,0,1,18.9,52.8c.21,1,0,2.25,1.34,2.72a7.13,7.13,0,0,0,.34,1.89,100,100,0,0,0,4.57,9C348.67,112,350,114.85,352.93,116.27Z'/%3E%3Cpath class='cls-1' d='M103.05,117.38c5,1.36,10,2.95,14.88,4.79a9.43,9.43,0,0,1-.71,3.44c-1.08,2.81-.28,5.17,1.42,7.47a45.31,45.31,0,0,1,4.51,7.4q.77,13,1.54,26c.37,6.29.69,12.58,1.1,18.86.11,1.64-.54,2.31-2.07,2.68-4.11,1-8.22,2-12.28,3.23-2.37.7-4.79,1.42-6.68,3.2l-3.12.69-14,3.17a36.69,36.69,0,0,0-6.48.43c-1.51.31-2.21-.2-2.34-1.77-.42-5.07-.89-10.14-1.37-15.21q-1.53-16.18-3.08-32.35a56.57,56.57,0,0,0-.9-8.07c1.63-1.1,2.18-2.87,2.77-4.6,1.49-4.38,2.22-9,3.34-13.44,2.15-.2,4-1.34,6-2a35.73,35.73,0,0,0,4.73,13.34,15.34,15.34,0,0,0,5.16,5.72,6,6,0,0,0,4.29,1.06,7.39,7.39,0,0,0,5.77-9.11c-.18-.73-.41-1.46-.55-2.2C104.15,125.9,102.61,121.78,103.05,117.38Z'/%3E%3Cpath class='cls-1' d='M309.83,101.81c2.8,3.39,3.48,7.56,4.32,11.67.37,1.79.5,3.63.86,5.42a25.42,25.42,0,0,0,7.57,14c1.41,1.32,2.73,2.76,4.09,4.14.61,10,1.27,20,1.81,30.06.24,4.4.72,4.14-3.92,4.69l-20,4.94c-5.31,1.32-10.69,2.39-15.89,4.11-1.07.09-2.16.12-3.22.29-4,.61-4.07.56-4.45-3.57-.19-2-.4-4.08-.6-6.12-.94-9.78-1.84-19.56-2.85-29.34-.23-2.2,0-4.52-1.2-6.56,1.82-2.79,3.61-5.61,5.48-8.38,3.17-4.7,3.22-4.7-.7-9a52.84,52.84,0,0,1-6.73-8.25c4.29-1.19,8.16-3.43,12.28-5,1.5-.59,3-1.2,4.5-1.8.06,1.18.13,2.37.18,3.55.1,2.28.1,2.31,2.42,2.35,5,.08,9.84-1.16,14.74-1.87,1.24-.18,1.63-.86,1.37-2A8.76,8.76,0,0,1,309.83,101.81Z'/%3E%3Cpath class='cls-6' d='M35.43,58.31c1.59.32,3.19.59,4.77,1a8.41,8.41,0,0,1,6.68,6.78c.32,1.48.74,2.95,1.1,4.42a7.92,7.92,0,0,0,5.92,5.9c3.4,1,6.86.79,10.14.69a1.31,1.31,0,0,0,.42-1.63,119.47,119.47,0,0,0-5.62-16.3A10.73,10.73,0,0,0,52.09,53c-2-.64-3.92-1.28-5.89-1.87a6.12,6.12,0,0,1-4.54-5.41,22.66,22.66,0,0,1,0-8.55c1.71,0,2.82,1.11,3.83,2.16a18.34,18.34,0,0,0,7.91,4.93c4.09,1.26,7,3.78,8.05,8.16.74,3,2.35,5.58,3.82,8.26,1.12,2,2.52,3,4.93,2.66,1.9-.3,3.87-.12,6.08-.91-2.79-5.31-3-11.14-4.5-16.67A13.8,13.8,0,0,0,64.55,37c-2-1.07-4.1-2-6.15-3-6.29-3.07-6.46-8.16-4.93-14.18.27-1.05,1.06-.94,1.8-.51,2.08,1.18,4.16,2.35,6.2,3.6a41.1,41.1,0,0,1,7.41,5.83,22,22,0,0,1,6.6,13.81c.71,7.16,2.5,9,9.64,9.86,1.49.19,3,.72,4.72.28a5.77,5.77,0,0,0-2.85-5c-1.34-.92-2.75-1.74-4.08-2.68a16.39,16.39,0,0,1-7.37-14.45A38.15,38.15,0,0,0,75.25,25a23.61,23.61,0,0,0-3.31-9.12c-1.06-1.76-2-3.55-3-5.25.72-1,1.32-.34,1.82-.15A16.33,16.33,0,0,1,81.92,24.12c.52,3.32.87,6.67,1.3,10,.86,6.63,4.24,11.25,10.65,13.54,2,.73,4.06,1.55,6.05,2.41a19.75,19.75,0,0,1,11,11.41,38.76,38.76,0,0,1,2.65,14c-.81-.72-1.62-1.43-2.41-2.17-10.54-9.85-23.91-3-27.35,6.12A37.21,37.21,0,0,0,82,101.08c-.77.91-1.58,1.79-2.3,2.74A3.45,3.45,0,0,1,77,105.28a18.64,18.64,0,0,1-14.64-5,38.18,38.18,0,0,1-7.71-10.8c-2.18-4.24-4.24-8.55-6.43-12.78A31.24,31.24,0,0,0,42,68c-2.16-2-4.54-3.69-7.63-4-1.67-1.56-4-2.29-5.65-4.28Z'/%3E%3Cpath class='cls-6' d='M499.29,243.18c-3.22,9.3-6.46,18.6-9.64,27.91q-6.83,20-13.59,40c-.28.82-.64,1.6-1,2.4-1.82-1-2.94-2.85-4.63-4-1.91-1.33-2.07-1.35-3.82.25q-4.3,4-8.57,7.93c-5.86-5.76-7.81-12.33-5-20.38,5.88-17.09,10.49-34.58,15.73-51.88A132,132,0,0,1,474,230.69c.82-1.87,1.53-3.84,3.21-5.19,7.55,1.47,15.1,2.92,22.65,4.43,2.62.52,2.61.59,2,3.19C501,236.47,499.77,239.73,499.29,243.18Z'/%3E%3Cpath class='cls-7' d='M531.41,332.74c-1.76-2.42-2.47-5.28-3.31-8.07-3.63-12.06-6-24.42-8.47-36.75-3.07-15.08-5.56-30.29-9.32-45.23a25.09,25.09,0,0,0,.14-3.22,2.45,2.45,0,0,1,2.09-3,58.48,58.48,0,0,0,9-3.54,37.54,37.54,0,0,1,12.1-3.34c1,1.4.82,3.11,1.13,4.69,2.67,13.63,5.39,27.26,8,40.91s5,27.35,5.91,41.25c.29,4.55.53,9.11-1,13.53a12.22,12.22,0,0,1-5.37-3.42,25.29,25.29,0,0,0-2.91-2.54c-1.73-1.31-1.77-1.29-2.89.5C534.76,327.25,533.09,330,531.41,332.74Z'/%3E%3Cpath class='cls-5' d='M301.79,239.27c-1.09.54-1.33,1.68-1.79,2.63q-13.55,28.15-27.06,56.32c-.23.49-.49,1-.7,1.47-.9,2.11-.9,2.12,1.48,3.24-2.82,1.28-5.63,2.6-8.47,3.82-2.26,1-4.37,2.32-6.88,2.64-6.23-6.64-8.08-14.09-4.5-22.73,4.87-11.73,9.29-23.64,13.58-35.59a95.85,95.85,0,0,0,4-14.07c.23-1.17.61-2.35-.52-3.31,1.76-.27,2.08-1.85,2.53-3.09,1-2.88,2.64-5.47,3.87-8.24.51-1.14,1.11-1.48,2.5-1.29,2.88.39,5.76.77,8.64,1.23,4.9.78,9.8,1.51,14.72,2.12,3.22.4,3.51.72,2.39,3.84-.22.61-.54,1.19-.76,1.8C303.79,233.12,302.19,236,301.79,239.27Z'/%3E%3Cpath class='cls-7' d='M332.71,313.75a12.74,12.74,0,0,0-.8-3.14q-11.53-35.57-23-71.14c2.29-4.85,6.42-7.75,10.88-10.28a70.81,70.81,0,0,0,11.63-7.61,10.94,10.94,0,0,1,3.41,6.85c2.56,15,6.57,29.62,9.67,44.48,2.48,11.89,5,23.78,5.91,35.92.37,4.76.66,9.54-1.08,14.15-3.93-.21-7.12-2.2-10.32-4.23C336.7,317.29,335.13,315,332.71,313.75Z'/%3E%3Cpath class='cls-7' d='M715.62,110.72c-1,2.85-1.47,5.87-2.78,8.63-1.78,3.75-4.75,5.43-8.83,5.46a3.7,3.7,0,0,1-3.08-1.42,16.66,16.66,0,0,1-3.94-9.77q-.36-4.21-.72-8.41c.23-4.64.41-9.29.71-13.93a2.19,2.19,0,0,0-1.75-2.63,19.32,19.32,0,0,1-2.06-1,7.84,7.84,0,0,1-5.2-7.18,27.1,27.1,0,0,0-5-14.49c-.68-.94-1.38-2-.51-3.25,2.59-3.86,3.34-8.39,4.49-12.77,2-.28,3.81-.54,5.12-2.69,1.41-2.3,3.42-2.47,6-1.43,1.91.78,3.79,1.64,5.72,2.34a2.37,2.37,0,0,1,1.83,2.93c-.42,2.78-.8,5.58-1.06,8.38-.23,2.51-.92,5-.67,7.87,3.56-1.82,6.44-3.67,7-7.81.24-1.92,3.3-4,5.07-3.8a1.22,1.22,0,0,1,1,.76c1.54,2.9,2.91,5.76,2,9.27-.49,1.9-1.27,3.83-1.08,6.15l4.46-2.38a12.71,12.71,0,0,1-1.74,5.84c-2.71,4.84-3.69,10.1-3.94,15.55C716.21,97.56,716.34,104.16,715.62,110.72Z'/%3E%3Cpath class='cls-7' d='M82,101.08a37.21,37.21,0,0,1,1.82-21.67c3.43-9.12,16.81-16,27.35-6.12.79.74,1.61,1.45,2.41,2.17q2.93,6.84,5.86,13.68.38.89.71,1.81c.35,1,.19,1.87-1,1.89-1.55,0-2,1.05-2.42,2.18a57.41,57.41,0,0,0-2.82,8.6c-.79,3.67-3,5.79-6.53,6.87-1.49.46-3.59.34-4.3,1.78s-.32,3.39-.06,5.1c-.44,4.41,1.1,8.52,1.9,12.74.14.74.37,1.46.55,2.2a7.39,7.39,0,0,1-5.77,9.11,6,6,0,0,1-4.29-1.06,15.34,15.34,0,0,1-5.16-5.72,35.72,35.72,0,0,1-4.73-13.34c.59-4.3,1.37-8.59,1-13C86.29,105.17,85.27,102.41,82,101.08Z'/%3E%3Cpath class='cls-7' d='M507.17,115.75c-.18,1.51-.33,3-.56,4.52-.31,2.09-.69,2.43-2.74,2.28-5.31-.4-10.61-.88-15.91-1.28-1.51-.11-2.38-.56-2.4-2.32a36.13,36.13,0,0,0-.65-4.83c0-3.79.15-7.59,0-11.38-.18-4-1.26-7.71-4.9-10.09a4,4,0,0,1-1.39-2.49c-1.45-4.57-1.89-9.33-2.64-14a1.92,1.92,0,0,1,.92-2.2c4-1,3.83-2.26,3.28-5.31-.08-.42-.2-.83-.3-1.25,0-.86,1.15-.59,1.36-1.28,1.61-1.47,3.18.08,5.05.24v-3l.11-2c.16-.73.32-1.46.48-2.2s-.1-1.72.95-1.72,2.47,0,3,1.34a11.37,11.37,0,0,1,.41,2.29,4.2,4.2,0,0,0,1.11-3.16l1.14-1.81,5.8,1.41a6.55,6.55,0,0,0,3.38-.28c.3.19.5.09.62-.22a2.23,2.23,0,0,1,.56-.12c.34,1,1.33,1.37,2.09,1.94,3.3,2.48,6.59,5,8.83,8.56a7.08,7.08,0,0,1-2.9,2.52,34.7,34.7,0,0,1-9.47,3.31,35,35,0,0,0-7.12,2.21c-1.32.61-2.13,1.4-1.63,3s1.64,1.82,3.06,1.62a22.88,22.88,0,0,1,2.9-.34c1.4,0,2.86-1.14,4.09-.39s.89,2.56,1.23,3.89c.55,2.21,1.64,3.66,4,4.16,3.93.84,4.27.56,4.9-3.5.34-2.18.16-4.51,1.31-6.52,1.08.29,1.06,1.11,1.28,1.81.81,2.58.82,5.34,1.9,7.85-.09,1.16-1.14,1.51-1.87,2.08a4.66,4.66,0,0,0-2.07,4.44c.31,3-.7,5.74-1.66,8.51a6.13,6.13,0,0,1-3.81,4c-4.18,1.65-4.2,1.78-2.88,6C506.39,113.32,506.35,114.68,507.17,115.75Z'/%3E%3Cpath class='cls-2' d='M331.39,221.57a70.81,70.81,0,0,1-11.63,7.61c-4.46,2.54-8.6,5.44-10.88,10.28l-7.09-.2c.4-3.28,2-6.15,3.08-9.2.22-.61.54-1.19.76-1.8,1.12-3.12.82-3.45-2.39-3.84-4.92-.61-9.83-1.34-14.72-2.12-2.88-.46-5.76-.84-8.64-1.23-1.39-.19-2,.14-2.5,1.29-1.24,2.77-2.83,5.37-3.87,8.24-.45,1.25-.77,2.82-2.53,3.09-1.65-.47-1.39-1.78-1.13-2.91.46-2,1.06-4,1.68-5.91,3.2-10,7.29-19.63,11-29.42A27.75,27.75,0,0,0,284,191.2c.34-1.74,1.24-2.06,2.76-1.75.84.18,1.71.22,2.57.32,0,2.49,0,5,1,7.35,1.24,2.79,1.34,2.89,4.51,2.59,1.08-.1,2.14-.23,3.22-.39,5.45-.83,10.91-1.52,16.37-2.28,2.56-.36,5.11-.84,7.68-1.16,1.16-.15,1.56-.7,1.91-1.78.49-1.52.14-3.31,1.45-4.56a3.26,3.26,0,0,1,2.34,3.08C329.19,202.25,330.32,211.91,331.39,221.57Z'/%3E%3Cpath class='cls-8' d='M332.71,313.75c2.41,1.25,4,3.54,6.27,5,3.2,2,6.39,4,10.32,4.23.86,5.6-.26,11.05-1.43,16.44-4,18.56-9.77,36.64-15.76,54.65a4.79,4.79,0,0,1-.48.84,17.36,17.36,0,0,1-4.09-1,79.24,79.24,0,0,0-8.07-2.5,89.92,89.92,0,0,0,4.44-32.71c-.42-9.74,1.15-19.25,2.85-28.76.78-4.38,1.32-8.8,2-13.18C329.34,313.49,329.41,313.5,332.71,313.75Z'/%3E%3Cpath class='cls-9' d='M533.67,229.6a37.54,37.54,0,0,0-12.1,3.34,58.48,58.48,0,0,1-9,3.54,2.45,2.45,0,0,0-2.09,3,25.09,25.09,0,0,1-.14,3.22c-3.74-1.54-7.37-.38-11,.48.48-3.45,1.68-6.71,2.54-10.07.66-2.6.67-2.67-2-3.19-7.54-1.51-15.1-3-22.65-4.43a107.75,107.75,0,0,1,2.24-18c.45-2,.78-4.4,3.6-4.74l41.69,9c.59.27,1.19.53,1.77.82,3.94,2,4.74,3.11,4.18,7.4A12.06,12.06,0,0,0,533.67,229.6Z'/%3E%3Cpath class='cls-10' d='M258.36,309.39c2.51-.31,4.63-1.67,6.88-2.64,2.85-1.22,5.65-2.54,8.47-3.82a8.52,8.52,0,0,1,6.76,3.67,36.13,36.13,0,0,1,4.46,7.52,79.1,79.1,0,0,1,6.33,22.74,61.53,61.53,0,0,0,6.44,20.65c1.84,3.54,3.91,7,4.92,10.91-2,.78-2.92,2.67-4.45,3.93-1.12.92-1.82,2.36-3.37,2.76-2.35-1.5-3.85-3.78-5.35-6a121.51,121.51,0,0,1-7.88-13.8c-4.36-8.83-9.11-17.44-14.09-25.93a127,127,0,0,1-7-13.51A25.36,25.36,0,0,1,258.36,309.39Z'/%3E%3Cpath class='cls-9' d='M531.41,332.74c1.68-2.74,3.36-5.49,5.06-8.22,1.12-1.79,1.16-1.81,2.89-.5a25.29,25.29,0,0,1,2.91,2.54,12.22,12.22,0,0,0,5.37,3.42c.87,5.83-.38,11.48-1.62,17.09-2.88,13-7.13,25.72-10.93,38.51-1.58,5.31-3.13,10.62-4.3,16-2.18-.59-4.4-1.09-6.55-1.8a1.81,1.81,0,0,0-2.56,1.08c-1.19,2.3-2.49,4.53-3.74,6.79-.81-5.58.29-11,1.33-16.44.71-3.72,1.55-7.42,2.38-11.12a58,58,0,0,0,1.19-18.42,18.17,18.17,0,0,1,1.72-9.78c1.35-2.84,2.67-5.69,3.93-8.57A34.27,34.27,0,0,0,531.41,332.74Z'/%3E%3Cpath class='cls-10' d='M458.08,317.62q4.29-4,8.57-7.93c1.74-1.6,1.91-1.58,3.82-.25,1.69,1.18,2.81,3,4.63,4a32.63,32.63,0,0,0,5.08,8.29c1.84,2.28,3.75,4.5,5.54,6.82A24.12,24.12,0,0,1,491,342a54.75,54.75,0,0,0,6.81,23.2,42.18,42.18,0,0,1,4.2,10.54,106.42,106.42,0,0,1-9.71,6.28c-.62-.88-1.3-1.73-1.84-2.66-10.65-18.1-20.73-36.51-29.9-55.4A25.32,25.32,0,0,1,458.08,317.62Z'/%3E%3Cpath class='cls-11' d='M581.91,39.58C581.5,36,581.08,32.5,580.7,29a15.91,15.91,0,0,1,.45-5.48,2.47,2.47,0,0,1,2.84-2c1.51,0,2.52.62,2.79,2.14.37,2,.65,4.06,1,6.09a19.08,19.08,0,0,0,.58,1.93,8.57,8.57,0,0,0,1-3.82A14.4,14.4,0,0,1,591,22.21c.8-1.34,1.74-1.43,3-.45a8.3,8.3,0,0,1,2.65,5.07c0,3.71,0,7.43,0,11.45a7.48,7.48,0,0,0,1.88-2.68c.71-1.09,1.3-2.27,2.09-3.29,1.31-1.68,2.5-1.72,4.11-.29,1.39,1.24,1.69,3.13.57,5.39a45.41,45.41,0,0,0-3.41,9.8c-1.08,4.53-2,9.09-3,13.63-2.87,4.17-5.54,8.48-8.7,12.45-3.25-.77-6.39-2-9.73-2.44-3.89-1.87-8-3.38-11.73-5.53a23.4,23.4,0,0,1-5.08-3.46c-.82-.81-1.84-1.63-1.12-3.06A3,3,0,0,1,565.58,57c2.15.22,4.29.54,6.43.86a11.26,11.26,0,0,0,4.18-.16c1.24-.28,1.62-.95,1.32-2.09-.7-2.72-1.37-5.45-2.16-8.14-1-3.52-2.37-7-3.18-10.55a13,13,0,0,1-.37-3.21A2.52,2.52,0,0,1,573.72,31a2.42,2.42,0,0,1,2.93,1.39c1.56,2.57,2.79,5.35,4.76,7.67.09.26.17.66.54.38S582.07,39.86,581.91,39.58Z'/%3E%3Cpath class='cls-12' d='M472.12,117.59c.53,2.29,1.13,4.57,1.59,6.88A13.24,13.24,0,0,1,471.91,135c-1.49,2.21-2.58,4.69-3.85,7.05-1.86.82-3.37.14-4.76-1.09a22.79,22.79,0,0,1-3.4-3.93c-.94-1.32-1.91-2.65-2.72-4q-9.61-16.45-20.64-32c-2.9-4.07-4.62-8.27-3-13.35a34.45,34.45,0,0,0,.8-5.13l8.8-2.68c.39,1.46.72,2.94,1.17,4.37a14.36,14.36,0,0,0,7.21,8.76c3,1.56,5.85,3.24,8.8,4.82a16.78,16.78,0,0,1,9.13,11.9A31.91,31.91,0,0,0,472.12,117.59Z'/%3E%3Cpath class='cls-7' d='M654.15,277.9a9.21,9.21,0,0,1,7.06,3.49c3.74,4.22,7.83,8.1,11.6,12.27a9.94,9.94,0,0,1,2.57,4.78c-5.73,9.05-12.51,17.36-18.68,26.11a24.64,24.64,0,0,1-2.74,3.2c-3.73,3.72-6.41,4-11,1.42.5-2,.91-4,1.54-6,.51-1.57.3-2.62-1.2-3.52a14.91,14.91,0,0,1-5-5.43,19.33,19.33,0,0,0-2.88-3.91c.21-3.24,1.67-6,3.14-8.81A172,172,0,0,1,650,283.75C651.39,281.8,652.77,279.85,654.15,277.9Z'/%3E%3Cpath class='cls-5' d='M77.84,286.56c5.44,1,11,.12,16.43,1a71.46,71.46,0,0,0,8.76.32c-.6,1-.31,2.12-.28,3.18.28,12.26,0,24.49-1.86,36.64a39.78,39.78,0,0,1-.83,4.14A8,8,0,0,1,90,337.46c-4.22-1.19-7.18-4.33-10.51-6.91-.78-.61-.6-1.57-.62-2.43-.06-4.34-.09-8.67-.17-13q-.24-13-.51-26A6.24,6.24,0,0,0,77.84,286.56Z'/%3E%3Cpath class='cls-11' d='M785.54,60.21a10.16,10.16,0,0,0-3.62-2.11,8.11,8.11,0,0,1-4.22-3.87c-1.28-2.35-1.2-3.61.8-5.35a19,19,0,0,1,3.25-2.15c1.54-.86,2-1.86,1.49-3.7-1.59-5.86-3-11.78-4.38-17.69a35.18,35.18,0,0,1-.62-4.18c-.08-.74-.23-1.67.53-2.07s1.38.38,1.88.9a27.75,27.75,0,0,1,5.14,7.87c.42.91.47,2.09,1.79,2.93a21.45,21.45,0,0,0-.22-7.23c-.52-2.55-1.14-5.08-1.63-7.64a9.08,9.08,0,0,1,0-3.89c.34-1.38,1.86-2.69,3-2.59,1.49.13,1.86,1.36,2.12,2.54.5,2.33.9,4.69,1.35,7,.59,3.05.88,6.18,2.29,9.55a9.13,9.13,0,0,0,.81-4.39,56.81,56.81,0,0,1,.77-8.43,9.3,9.3,0,0,1,1.22-3.34A3.35,3.35,0,0,1,801,10.82c1.23.21,1.87.75,1.75,2.17-.3,3.46-.48,6.94-.68,10.41,0,.75,0,1.51,0,2.63,1.34-1.24,1.57-2.74,2.14-4s1.14-2.81,1.76-4.2a2.34,2.34,0,0,1,2-1.51c1.66-.18,2.39.49,2.07,2.17-1.21,6.4-2.47,12.79-3.72,19.18-.23,1.17-.56,2.33-.71,3.51-.92,7.52-4.06,14.13-8.27,20.3a8.46,8.46,0,0,1-9.05-.45A3.37,3.37,0,0,0,785.54,60.21Z'/%3E%3Cpath class='cls-12' d='M725.29,398.65a59.07,59.07,0,0,1,.66-9.39c.41-4.32,1.14-8.62,1.55-12.94a104.44,104.44,0,0,0,.19-16.93,83.58,83.58,0,0,1,2.62-27.12c.49-1.88,1.26-3.69,1.95-5.52.37-1,1-1.25,2-.69,4.5,2.4,9,4.79,13.58,7.06,1.48.73,1.27,1.79,1.1,3-1,7.09-2.39,14.13-3.92,21.13q-3.16,14.48-5.63,29.09c-1.42,8.39-2.76,9.77-11.17,11.67Z'/%3E%3Cpath class='cls-6' d='M687.07,110.73a33.16,33.16,0,0,1,.07,9c-.82,5.67-4.15,9.53-9.51,11.6-4-.46-8-1-12-1.38a9.34,9.34,0,0,1-7.18-4.5c-1.11-1.74-2.34-3.41-3.34-5.21a43.06,43.06,0,0,0-12.61-13.86c-2.53-1.84-2.48-1.94-.84-4.65,2.28-3.77,5.61-6.6,8.66-9.69,1-1,1.94-.66,3-.28a45.77,45.77,0,0,1,7.88,3.87c6.5,3.95,12.94,8,19.44,11.92A27.28,27.28,0,0,0,687.07,110.73Z'/%3E%3Cpath class='cls-9' d='M729.82,128.22a40.4,40.4,0,0,1-3.93-12.47,12.81,12.81,0,0,1,1.67-8c3.39-1.36,6-3.78,8.55-6.28,2.78-2.72,5.43-5.57,8.41-8.09a3.43,3.43,0,0,1,4.1-.61,41.54,41.54,0,0,1,6.64,3.36,11.86,11.86,0,0,0,12.28,1.17,24.68,24.68,0,0,1,2.46-.8c-.5,1.86-1,3.72-1.51,5.57-.67,2.4-.68,2.4,1.58,3.17l7.29,2.5a14.41,14.41,0,0,0-.12,1.95,2.74,2.74,0,0,1-2,3c-.3.12-.6.26-.91.36-10.6,3.54-20.79,8.17-31.29,12C738.76,126.53,734.43,128,729.82,128.22Z'/%3E%3Cpath class='cls-10' d='M727.64,422.4A74.79,74.79,0,0,1,729,409.78c1.45-7.44,7.2-8.49,12.21-6.39a32.65,32.65,0,0,1,7.72,4.8c6,4.82,11.54,10.24,17.76,14.82,2.52,1.86,3.53,4.61,3.94,7.6.22,1.61.23,3.26.48,4.86.21,1.42-.44,1.92-1.7,2.2-5.93,1.32-11.86,2.64-17.76,4.07a2.58,2.58,0,0,1-3.1-1c-1.57-2.08-3.35-4-4.87-6.12a12.48,12.48,0,0,0-9.52-5.52c-1.73-.14-3.45-.46-5.18-.51-1.5,0-1.85-.67-1.65-2S727.54,423.81,727.64,422.4Z'/%3E%3Cpath class='cls-10' d='M274.4,109.9a52.84,52.84,0,0,0,6.73,8.25c3.92,4.3,3.88,4.31.7,9-1.87,2.77-3.65,5.59-5.48,8.38l-.51.4c-3.73,2.92-3.7,2.9-6.19-1.15-4.44-7.21-9.63-13.9-14.69-20.68-3.89-5.22-7.66-10.52-11.59-15.71-3.3-4.36-4.52-9-2.81-14.35a28.82,28.82,0,0,0,.7-3.83c1.08-1,3.05-1.08,3.54-2.42s-.78-3-1.09-4.48c2.44-1,2.45-1,3.51,1.16a96.5,96.5,0,0,0,11.68,17.91A205.78,205.78,0,0,0,274.4,109.9Z'/%3E%3Cpath class='cls-7' d='M309.83,101.81a8.76,8.76,0,0,0,0,3.22c.27,1.19-.13,1.87-1.37,2-4.9.7-9.74,1.94-14.74,1.87-2.31,0-2.31-.07-2.42-2.35-.05-1.18-.12-2.37-.18-3.55.09-2.16.16-4.32.27-6.48,0-1-.27-1.68-1.34-1.85l-.32-.07c-5.74-1-8.69-4.56-9.64-10.25-.55-3.3-2.09-6.36-3.59-9.36,2,.17,2.82-1.2,3.44-2.8.38-1-.35-2.72.72-2.86,1.65-.21,1.27,1.87,2,2.82.13.17.18.4.29.58a5,5,0,0,0,6.26,1.94c2.1-.77,2.84-2.26,2.28-5-.35-1.69-.93-3.32-1.39-5-.37-1.35-.75-2.71-1-4.08A2.52,2.52,0,0,1,291,57.39a103.87,103.87,0,0,1,10.39,15.34c2.56,4.68,3.26,9.62,1,14.69-.11.13-.33.33-.31.37.25.37.41.09.57-.11,2.83-.93,3.64-2,3.8-4.82.21-3.64-1-7-1.79-10.51a36.51,36.51,0,0,1-1-9,6.06,6.06,0,0,1,1.11-3.66c1.16-1.49,2.81-3,4.56-2.44a5.42,5.42,0,0,1,3.57,4.65,15.17,15.17,0,0,1-.82,5.75C308.85,78.89,309.37,90.35,309.83,101.81Z'/%3E%3Cpath class='cls-8' d='M156.37,325a14.22,14.22,0,0,0,4.51,5.86,6.54,6.54,0,0,1,2.25,6.7c-1.26,7-3.49,13.65-5.19,20.49-2.71,10.83-6.13,21.48-8.22,32.47-.67,3.52-1.7,4.37-5.23,4.7-1.7.16-3.44,0-5.53,0l7.24-74.83A85,85,0,0,1,156.37,325Z'/%3E%3Cpath class='cls-9' d='M610.32,362.07a28.05,28.05,0,0,0,1.35,6,6.34,6.34,0,0,1-.48,5A44.9,44.9,0,0,1,606,381c-2.07,2.46-3.72,2.54-5.94.28a50.16,50.16,0,0,1-3.59-4.2,17,17,0,0,0-8.1-5.76c-.62-.21-1.22-.46-1.84-.66-4.83-1.49-7.85-4.79-9.6-9.43a54,54,0,0,1-3.09-16.56c-.35-7.28-1.5-5.41,5.6-6.64a9.8,9.8,0,0,1,8.18,2.28c3.45,2.81,7,5.54,10.5,8.24a34,34,0,0,0,7.39,4.69C607.74,355.86,608.7,359.14,610.32,362.07Z'/%3E%3Cpath class='cls-12' d='M492.32,382a106.42,106.42,0,0,0,9.71-6.28c2.75,1.52,5.48,3.09,8.28,4.52a2.45,2.45,0,0,1,1.51,2.84,60.44,60.44,0,0,1-1.44,9,33.84,33.84,0,0,0-1.14,9c0,4.67,0,9.34,0,14a5,5,0,0,1-.86,3.37,138.86,138.86,0,0,1-9,11.15,21.38,21.38,0,0,1-3.65,3.23c-3.24,2.14-5.5,1.34-6.63-2.4a23.68,23.68,0,0,1-.87-5.78c-.35-7.84.43-15.62,1.06-23.41C489.81,394.75,490.4,388.27,492.32,382Z'/%3E%3Cpath class='cls-10' d='M517.94,407.67c1.25-2.26,2.56-4.49,3.74-6.79a1.81,1.81,0,0,1,2.56-1.08c2.15.7,4.36,1.21,6.55,1.8a12.37,12.37,0,0,1,6.33,6.66c2.8,6.12,5.89,12.1,8.81,18.16a54.94,54.94,0,0,1,4.58,12.16c1.47,6.8-1.3,9.78-8.14,8.82-9-1.26-14.92-6-17.39-14.87-.23-.84-.54-1.65-.73-2.5a9.61,9.61,0,0,0-4.71-6.68c-2.16-1.24-4.55-2.78-5.49-5-1-2.39,1.5-4.5,2.26-6.8C516.76,410.25,517.4,409,517.94,407.67Z'/%3E%3Cpath class='cls-9' d='M722.18,69.6,717.73,72c-.2-2.32.59-4.25,1.08-6.15.91-3.51-.46-6.38-2-9.27a1.22,1.22,0,0,0-1-.76c-1.77-.2-4.83,1.89-5.07,3.8-.52,4.14-3.4,6-7,7.81-.25-2.87.44-5.36.67-7.87.26-2.8.64-5.6,1.06-8.38a2.37,2.37,0,0,0-1.83-2.93c-1.94-.7-3.82-1.56-5.72-2.34-2.54-1-4.54-.88-6,1.43-1.32,2.15-3.1,2.41-5.12,2.69-2.34-3.59-4.08-7.42-4.29-11.76A7.48,7.48,0,0,1,693.67,31a8.58,8.58,0,0,0,5.27.76,72.48,72.48,0,0,1,10.7-.5c10,.28,16.65,7.7,18.05,16.9C728.9,56.08,726.74,63.15,722.18,69.6Z'/%3E%3Cpath class='cls-10' d='M98.29,409.43a17.4,17.4,0,0,1-5.21-1.64,11.26,11.26,0,0,1-6.48-8.8,38.8,38.8,0,0,1-.58-5.5q-.65-23.29-1.2-46.58c-.1-4.11-.05-4.1,4-3.31,3.62.71,7.23,1.54,10.88,2,1.75.23,2.17,1.12,2.31,2.52a109.76,109.76,0,0,1,.46,13c-.2,8.59-1.42,17.09-2.4,25.61-.79,6.91-1.41,13.82-1.63,20.78C98.38,408.07,98.34,408.6,98.29,409.43Z'/%3E%3Cpath class='cls-6' d='M532,138.25q-4.25-9.75-8.5-19.5a6.12,6.12,0,0,1-.68-2.46c3.88-.48,6.79-2.5,9.29-5.44,2.1-2.47,4.54-4.66,6.84-7a4.46,4.46,0,0,1,5.37-.94,32.65,32.65,0,0,1,6.37,3.25,11.45,11.45,0,0,0,10.51,1.56c1.12-.33,2.22-.93,3.47-.67,0,3-1.94,5.37-2.45,8.32,3.1,1.33,6.51,1.43,9.62,2.57-.11,3.48-1.82,5.22-5.27,6.27-8.35,2.55-16.55,5.58-24.79,8.48A28.87,28.87,0,0,0,532,138.25Z'/%3E%3Cpath class='cls-5' d='M194.11,55.41a17.33,17.33,0,0,0-4.68,5.29,14.66,14.66,0,0,1-7.55,5.79c-1.82.66-3.63,1.37-5.44,2.05a2.13,2.13,0,0,1-1.19-1c-1.43-2.94-3.89-4.93-6.46-6.77-2.74-2-5.6-3.75-8.38-5.65a15.35,15.35,0,0,1-3.91-3.42c-.74-1-1.22-2.15-.53-3.33s1.91-.82,3-.65a29.09,29.09,0,0,1,5.22,1.8c1.26.45,2.47,1.65,4,.64,1.81-1.22,3.67-2.47,4-4.86a29.62,29.62,0,0,0,.22-3.89A64.52,64.52,0,0,1,173.22,30c.08-.43.11-.86.2-1.29a2,2,0,0,1,1.77-1.67c1.12-.1,1.51.82,1.67,1.66.38,2,.64,4.07.95,6.11.16,1.06.12,2.19,1,3.11,1.53-.18,1.64-1.46,1.94-2.58.55-2,.31-4.11.38-6.16a6.89,6.89,0,0,1,1.23-4.3c1.44-1.81,2.7-1.64,3.57.45a8,8,0,0,1,.51,3.2c0,3-.16,6.08-.22,9.12,0,.69-.55,1.67.45,2s1.49-.72,1.76-1.51a45.27,45.27,0,0,0,2.27-7.43c.9-.33,1.11-1.21,1.55-1.91a3.51,3.51,0,0,1,2.66-2c1.11.22,1.48,1.12,1.84,2-.67,4-2.27,7.62-3.57,11.38-.63,1.82-1.65,3.55-1.58,5.58l-.15.18.12-.21c1.58-.84,2.5-2.31,3.52-3.69a6.1,6.1,0,0,1,6.5-2.54c-2.08,4.16-4.06,8.08-6,12C195,52.77,194.09,53.93,194.11,55.41Z'/%3E%3Cpath class='cls-9' d='M411.25,53,400.8,48.37l.08.06c.25-.6-.19-.82-.59-1.05a3.76,3.76,0,0,0-.48-.84c-4-4-8-8-12.82-11a7.93,7.93,0,0,1-1.57-1.14,3.64,3.64,0,0,1-.48-4.21c1-1.63,2.33-1.05,3.7-.51s2.69,1.9,4.47,1.72a.75.75,0,0,0,0,.24s.1.05.16.08l-.24-.27c-1.34-2.71-3.46-4.95-4.67-7.73a8.84,8.84,0,0,1-1.09-3c-.06-1.22,0-2.47,1.09-3.23s1.81.19,2.65.61c.29.14.59.27.88.4l3.54,4.12c.65-1.29,0-2.06-.33-2.85-.5-1.2-1.07-2.36-1.53-3.58a2.18,2.18,0,0,1,1.11-2.75,2.18,2.18,0,0,1,2.93.16,15.63,15.63,0,0,1,3.81,5.21,48.89,48.89,0,0,0,4,7.06c0-2,0-3.95,0-5.92,0-.76,0-1.52-.07-2.27a2.13,2.13,0,0,1,3.88-1.29,11.63,11.63,0,0,1,2.06,4.38c1,3.32,1.87,6.67,2.85,10a35.18,35.18,0,0,0,1.43,4c.83,1.93,1.29,2.08,3.2,1.07a20.94,20.94,0,0,0,4.33-3.41,9.26,9.26,0,0,1,2.85-2.13,2.16,2.16,0,0,1,3.14,2.32,13.17,13.17,0,0,1-1.72,4.87,117.42,117.42,0,0,1-7,11.34C417,49.49,414.32,51.63,411.25,53Z'/%3E%3Cpath class='cls-10' d='M79.57,123.3c-1.12,4.48-1.85,9.06-3.34,13.44-.59,1.73-1.13,3.49-2.77,4.6C68,138,62.58,134.64,57.17,131.25c-7.8-4.87-15.59-9.78-23.46-14.72.23-1.57,1.87-2.12,2.3-3.44A100.14,100.14,0,0,0,46.8,101.27c1.36.66,2.76,1.25,4.08,2,8.22,4.59,16.36,9.34,24.67,13.77C78.27,118.48,79.73,120.24,79.57,123.3Z'/%3E%3Cpath class='cls-7' d='M156.37,325a85,85,0,0,0-10.18-4.58,94,94,0,0,0-5.85-9.75c-4.75-7.52-9.69-14.92-13.93-22.75,5.16-.12,10.29-1.1,15.46-.74,3.53.25,7.07.49,10.45,1.76a8.13,8.13,0,0,1,2.83,1.49c1.58,3.78,3.14,7.56,4.74,11.34a71.38,71.38,0,0,1,4,11,17.45,17.45,0,0,1,.51,6.12,5.94,5.94,0,0,1-4.52,5.35C158.7,324.54,157.52,324.71,156.37,325Z'/%3E%3Cpath class='cls-6' d='M610.32,362.07c-1.61-2.93-2.58-6.22-4.77-8.84a19.52,19.52,0,0,1,2.74-8.26,52.8,52.8,0,0,1,4.7-7c4.61-5.77,8.88-11.77,13-17.88,2.56-3.77,5.36-7.38,9.42-9.73a19.33,19.33,0,0,1,2.88,3.91,14.91,14.91,0,0,0,5,5.43c1.51.9,1.71,2,1.2,3.52-.63,1.95-1,4-1.54,6a13.4,13.4,0,0,0-4.09,5,36.76,36.76,0,0,1-2.88,4.7,10.45,10.45,0,0,1-6.75,4.59,15.44,15.44,0,0,0-9.7,6.62c-1.43,2-2.77,4.14-4.19,6.19A22.57,22.57,0,0,1,610.32,362.07Z'/%3E%3Cpath class='cls-8' d='M35.43,58.31l-6.71,1.46c1.66,2,4,2.72,5.65,4.28a5.14,5.14,0,0,1-.11.6,2.65,2.65,0,0,0-1.46.6c-2.13,1.6-4.28,3.17-6.43,4.75-7-2-14-4-20.91-6.1A12.29,12.29,0,0,1,1.2,61.58c-.44-.36-.85-.79-.69-1.36s.79-.68,1.34-.68c3.26,0,6.51.05,9.77,0a9.36,9.36,0,0,0,3.51-.22c-.6-1-1.53-1-2.3-1.3A32,32,0,0,1,3.7,53.14a23.1,23.1,0,0,1-2.63-2.42C.51,50.11-.32,49.4.13,48.48c.55-1.11,1.71-.76,2.63-.59,3.65.68,6.94,2.44,10.42,3.61.33.15.68.55,1,.11s-.13-.67-.35-1c-1.92-2-3.86-4.07-5.76-6.13a11,11,0,0,1-2.81-4.67c-.35-1.39.21-2,1.66-2a6.13,6.13,0,0,1,3.52,1.48,59.2,59.2,0,0,1,6.08,5.34,16,16,0,0,0,3.16,2.75c.26.22.54.38.78,0,0-.05-.23-.28-.35-.43q-1.5-3.94-3-7.87a18.92,18.92,0,0,1-1.22-4.37c-.11-.87-.28-1.83.66-2.32s1.68.18,2.38.63a7.68,7.68,0,0,1,2.37,3,106.27,106.27,0,0,0,5.92,10.09c.8,1.15,1.49,2.41,3,3a38.35,38.35,0,0,0,2.89-5.75c.29-.58.53-1.19.83-1.77.65-1.24,1.62-2.21,3.09-1.77,1.26.37,1.17,1.69,1.18,2.76,0,3.39-.85,6.65-1.51,9.94C36.33,54.52,35.86,56.41,35.43,58.31Z'/%3E%3Cpath class='cls-1' d='M294.8,375.11c1.55-.4,2.25-1.83,3.37-2.76,1.53-1.26,2.5-3.15,4.45-3.93,3,1.94,5.29,4.73,8.12,6.88a1.5,1.5,0,0,1,.44,1.76,36.07,36.07,0,0,1-1,3.76c-2.12,5.25-1.66,10.63-.9,16,.47,3.32,1.23,6.59,1.06,10a7,7,0,0,1-2.61,5.34,37,37,0,0,1-10.06,6.49,13.59,13.59,0,0,1-2.17.66c-2.24.47-2.6.21-2.91-2.06-1.62-11.88-1.79-23.74.68-35.55C293.75,379.51,294.86,377.45,294.8,375.11Z'/%3E%3Cpath class='cls-13' d='M325.51,189.55c-1.3,1.25-1,3-1.45,4.56-.35,1.09-.75,1.64-1.91,1.78-2.57.32-5.12.8-7.68,1.16-5.46.77-10.92,1.45-16.37,2.28-1.07.16-2.14.29-3.22.39-3.17.3-3.28.2-4.51-2.59-1-2.37-1-4.86-1-7.35.26-3-.55-6-.7-8.95,5.21-1.72,10.58-2.8,15.89-4.11l20-4.94c0,5.41,0,10.82.55,16.21A10.57,10.57,0,0,0,325.51,189.55Z'/%3E%3Cpath class='cls-12' d='M524.76,211.77l-41.69-9q.11-6.31.21-12.61l41.38-1.54Z'/%3E%3Cpath class='cls-11' d='M391.92,18.44c-.29-.13-.59-.26-.88-.4-.84-.41-1.67-1.31-2.65-.61s-1.16,2-1.09,3.23a8.84,8.84,0,0,0,1.09,3c1.22,2.78,3.34,5,4.67,7.73l0,0c-1.78.18-3-1.14-4.47-1.72s-2.66-1.12-3.7.51a3.64,3.64,0,0,0,.48,4.21A7.93,7.93,0,0,0,387,35.52c4.86,3,8.84,7,12.82,11a3.74,3.74,0,0,1,.48.84c.09.41-.16,1,.59,1l-.08-.06a10.32,10.32,0,0,1-1.67,4.35,65.75,65.75,0,0,0-4.89,8.81c-.46,1-.66,2.11-1.7,2.7-3.52,0-6.78-1.61-10.28-1.75A29.6,29.6,0,0,0,372,52.23a30.64,30.64,0,0,1-5.31-3.74c-.89-.86-1.63-1.86-1.14-3.15s1.79-1,2.82-1a27.79,27.79,0,0,1,6.71,1.16,19.6,19.6,0,0,0,4.89,1c.15-1.5-.56-2.64-.94-3.81-1.54-4.85-3.31-9.63-4.51-14.59a14.85,14.85,0,0,1-.46-4.18c.06-1.27.82-1.41,1.79-1a7.94,7.94,0,0,1,2.53,2c1.74,1.88,3.45,3.79,5.46,6,.48-4.21.87-8,1.38-11.84a24.16,24.16,0,0,1,1-4.09c.26-.8.59-1.71,1.6-1.87,1.19-.19,1.74.73,2.27,1.53A10.23,10.23,0,0,1,391.92,18.44Z'/%3E%3Cpath class='cls-1' d='M99.16,427a1.68,1.68,0,0,1-1,2.15,21.68,21.68,0,0,1-3.28,1.42,17.89,17.89,0,0,0-10.41,7.83,36.19,36.19,0,0,1-5.87,7c-1.08,1-2,1.38-3.41.57a67.8,67.8,0,0,1-12.61-9.17c-1.42-1.3-1.41-2.38-.56-3.94a28.47,28.47,0,0,1,7-8.49c3.87-3.16,7.76-6.29,11.77-9.27,5.13-3.81,11.27-3.57,16.27.37a2.64,2.64,0,0,1,1.07,1.91Z'/%3E%3Cpath class='cls-14' d='M514.78,67.36c-2.23-3.58-5.52-6.08-8.83-8.56-.77-.58-1.75-.91-2.09-1.94.3-2,.52-4.08.93-6.1a13.93,13.93,0,0,0-2.23-10.54,74,74,0,0,1-3.64-6.54,4.86,4.86,0,0,1-.25-4c.88-2.48,1.77-5,3.78-6.74,4.38-3.84,5-8.64,3.91-14a12.78,12.78,0,0,1,0-6.74c.36-1.12.65-2.23,2.33-2.2s1.91,1,2.29,2.21a25.84,25.84,0,0,1-1.17,19.64c-1.14,2.46-2.21,4.95-3.29,7.44a6.38,6.38,0,0,0-.14,5.06c2.45,6.22,3.33,12.77,4,19.36a16.24,16.24,0,0,0,.17,1.62c.18.85.73,1.05,1.4.54a6.46,6.46,0,0,0,2.54-4.39,25.56,25.56,0,0,0-.47-8.08c-.62-3.41-1.56-6.76-1.66-10.26a3.45,3.45,0,0,1,1.84-3.48c1.61-.89,3.19-1.86,4.84-2.67,3.92-1.92,5.73-5.13,5.87-9.39,0-1.3,0-2.61.07-3.91a6.41,6.41,0,0,1,3-5.14c1.11-.74,1.72-.49,2.22.7a15.38,15.38,0,0,1,.73,9.57,28,28,0,0,1-6.26,11.64c-1.39,1.67-2.84,3.29-4.36,4.83A4.21,4.21,0,0,0,519,38.75c.09,1.19,0,2.39.05,3.58a41.13,41.13,0,0,1-2.92,19.76c-.72,1.65-.26,3.46-.93,5.09A.47.47,0,0,1,514.78,67.36Z'/%3E%3Cpath class='cls-12' d='M777.35,107.7l-7.29-2.5c-2.26-.77-2.25-.77-1.58-3.17.52-1.85,1-3.72,1.51-5.57q5.84-13.5,11.68-27c1.32-3.07,2.58-6.16,3.87-9.25a3.37,3.37,0,0,1,2.69.78,8.46,8.46,0,0,0,9.05.45Q792.64,77.2,788,93q-1.89,6.4-3.81,12.79c-.76,2.52-.78,2.49-3.28,2.2C779.73,107.81,778.54,107.78,777.35,107.7Z'/%3E%3Cpath class='cls-5' d='M143.79,400.36c1.62,0,3.67,1,5.61,2.2a39.09,39.09,0,0,1,8.66,7.82,61.93,61.93,0,0,1,11.79,19.69c.94,2.7,1.88,3.37-2.11,4-3.53.55-7,1.46-10.49,2.18-2.79.57-2.81.56-4.25-2.11-1.55-2.86-3-5.76-4.64-8.58-3-5.23-6.87-9.48-12.83-11.34a1.82,1.82,0,0,1-1.41-2.43,20.82,20.82,0,0,1,2.93-8.2C138.46,401.47,140.41,400.25,143.79,400.36Z'/%3E%3Cpath class='cls-11' d='M319.47,391.35a79.24,79.24,0,0,1,8.07,2.5,17.36,17.36,0,0,0,4.09,1,41.44,41.44,0,0,0,3.18,13.23c2.38,6.06,4.78,12.13,5.79,18.61.53,3.41,1.22,6.82.76,10.57a45.84,45.84,0,0,1-12.81-3.78c-2.77-1.4-4-3.88-4.51-6.79s-.91-6-1.4-9c-.9-5.5-2.08-10.89-5.85-15.31-.35-.41-.52-1-.83-1.39-1.44-2-1.23-3.72.38-5.52C317.48,394.22,318.43,392.74,319.47,391.35Z'/%3E%3Cpath class='cls-13' d='M123.16,140.48a45.31,45.31,0,0,0-4.51-7.4c-1.7-2.3-2.51-4.66-1.42-7.47a9.43,9.43,0,0,0,.71-3.44c4.73-1.36,8.27-4.55,11.78-7.75a139.92,139.92,0,0,1,11.2-9.79c1.79-1.32,3.49-2.89,5.8-3.33a14,14,0,0,1-1.44,4.6c-.6,1.47-.34,2.25,1.08,3.1,2.09,1.26,4.56,2,6.2,3.93.05,4-2.21,7-5,9.42-5.42,4.62-10.87,9.2-16.09,14.06A14.57,14.57,0,0,1,123.16,140.48Z'/%3E%3Cpath class='cls-9' d='M571.83,118c-3.11-1.14-6.51-1.24-9.62-2.57.51-3,2.4-5.37,2.45-8.32l-.05,0c.53.24.45-.21.54-.47q6.25-14.79,12.5-29.57c.88-2.09,1.82-4.15,2.73-6.23,3.33.44,6.47,1.67,9.72,2.44-1.59,6-3.15,11.92-4.78,17.86-2.24,8.14-4.62,16.24-6.78,24.41-.49,1.85-1.3,2.52-3.14,2.35A30.22,30.22,0,0,0,571.83,118Z'/%3E%3Cpath class='cls-10' d='M721,294.32c7.51-3.25,15.16-6,23.51-5.86,1,5.09,2,10.19,3,15.27,1.24,5.89-.57,10.45-5.72,13.61-1.75,1.07-3.63,1.93-5.38,3-1.48.9-2.52.48-3.71-.6a29.73,29.73,0,0,1-7.88-11.37A88.45,88.45,0,0,1,721,294.32Z'/%3E%3Cpath class='cls-11' d='M612.69,62.71c1.28-.91,2.33-1.63,3.78.1,6.51,7.72,13.69,14.85,20.11,22.65A44.82,44.82,0,0,1,643,94.89c-1.21,1.17-2.75,1.45-4.11,2-3,1.29-6.07,2.37-9,3.78-1.75.84-2.76.42-3.83-1a74.35,74.35,0,0,1-5.41-8.51c-2.89-5.22-5.55-10.58-9.14-15.37C608.7,72.06,608,68.2,610.44,64l1-.54c.41-.08.79-.2.8-.72h0l.23.15Z'/%3E%3Cpath class='cls-11' d='M152.55,112.93c-1.64-2-4.1-2.67-6.2-3.93-1.41-.85-1.68-1.63-1.08-3.1a14,14,0,0,0,1.44-4.6l19.43-31.25,1-1.66c1.55-2.49,1.55-2.47,4.27-1.76,1.26.33,2.53.58,3.8.87a2.13,2.13,0,0,0,1.19,1q-8.86,21.56-17.73,43.12c-.93,2.27-1,2.28-3.31,1.68A7.23,7.23,0,0,0,152.55,112.93Z'/%3E%3Cpath class='cls-1' d='M382.26,62.48c3.5.14,6.76,1.72,10.28,1.75a4.08,4.08,0,0,1-.47,2.2c-5.35,12.52-9,25.59-12.59,38.68-.14.52-.26,1.05-.38,1.58-.3,1.34-1,1.6-2.38,1.31a21.3,21.3,0,0,0-5.77-.93c-1.88-1.1-4.07-1.29-6.05-2.08s-1.95-1-1.27-2.86q2-5.62,4-11.25c5.14-5.39,7.77-12.17,10.54-18.88C379.47,68.8,380.41,65.44,382.26,62.48Z'/%3E%3Cpath class='cls-8' d='M243.72,73.32c.32,1.53,1.63,3,1.09,4.48s-2.46,1.42-3.54,2.42c-2.84.34-5.32,1.73-7.91,2.77a3.29,3.29,0,0,1-4.05-.71,64.37,64.37,0,0,1-6.68-7.53q-4.4-5.84-8.7-11.76c-2.3-3.16-4.95-6-7.5-9,.13-.94.86-1.46,1.43-2.1a11.59,11.59,0,0,0,3.31-6.86,1.94,1.94,0,0,1,.65-1.42c1,.32,1.49,1.23,2.15,1.92,7.34,7.57,14.78,15,22.62,22.09A40.16,40.16,0,0,0,243.72,73.32Z'/%3E%3Cpath class='cls-15' d='M683.55,199.2l40.51-4.58a5.93,5.93,0,0,1,1,0l-2.5,17.83c-7.56-.24-15.12-.43-22.65-1.15-4.25-1.91-8.77-3.08-13.16-4.61-3-1.05-3-1-3.13-4.28C683.56,201.37,683.57,200.29,683.55,199.2Z'/%3E%3Cpath class='cls-5' d='M26.38,70c2.14-1.58,4.29-3.16,6.43-4.75a2.65,2.65,0,0,1,1.46-.6,2.57,2.57,0,0,1,.35.54q6.1,18,12.18,36.08A100.14,100.14,0,0,1,36,113.1c-2.27-5.11-3-10.61-4.21-16C29.81,88.1,27.85,79.1,26.38,70Z'/%3E%3Cpath class='cls-11' d='M411.25,53c3.06-1.37,5.77-3.5,9.12-4.23,7.47,8.93,14.8,18,23.77,25.54,1.51,1.27,1.06,2.91,1.57,4.38-.75.79-2,.19-2.61,1.1l-8.8,2.68a10.6,10.6,0,0,1-7-4.36C421.89,69.78,416,61.73,411.25,53Z'/%3E%3Cpath class='cls-12' d='M611.44,63.48l-1,.54a14.06,14.06,0,0,0-2.21-.19,12.81,12.81,0,0,1-9.44-3c1-4.55,1.94-9.11,3-13.63a45.41,45.41,0,0,1,3.41-9.8c1.12-2.26.82-4.15-.57-5.39-1.6-1.43-2.8-1.39-4.11.29-.79,1-1.38,2.2-2.09,3.29a7.48,7.48,0,0,1-1.88,2.68c0-4,0-7.73,0-11.45,1,1.59.82,3.54,1.62,5.21.94-.57.76-1.52.93-2.34s.35-1.92.61-2.85a2.44,2.44,0,0,1,2.17-2.11,3,3,0,0,1,3,1.52,30.66,30.66,0,0,1,2.86,6.18,102,102,0,0,1,2.74,11.35c1.6.32,2.4-.91,3.43-1.61a30.05,30.05,0,0,1,4.59-3.06,2.43,2.43,0,0,1,2.75.07c1,.76.72,1.65.41,2.64C619.44,49,617,56.07,612.26,62c0,.07-.16.15-.15.21a3,3,0,0,0,.15.5h0C611.72,62.72,611.58,63.1,611.44,63.48Z'/%3E%3Cpath class='cls-13' d='M367.62,90.88q-2,5.62-4,11.25c-.67,1.88-.57,2.13,1.27,2.86s4.17,1,6.05,2.08c-1.39,2.39-3.78,3.44-6.13,4.49a77.92,77.92,0,0,1-8.25,2.8c-1.3.42-2.79.57-3.63,1.91-2.92-1.42-4.26-4.27-5.82-6.8a100,100,0,0,1-4.57-9,7.13,7.13,0,0,1-.34-1.89c1.39-1.17,3.19-1.25,4.82-1.73C353.87,94.81,360.75,92.87,367.62,90.88Z'/%3E%3Cpath class='cls-11' d='M211.83,43.64a1.94,1.94,0,0,0-.65,1.42,11.59,11.59,0,0,1-3.31,6.86c-.57.64-1.3,1.16-1.43,2.1a82,82,0,0,0-11.06,1.5,4.33,4.33,0,0,1-1.27-.1c0-1.48.85-2.65,1.46-3.89,1.93-3.94,3.91-7.86,6-12a6.1,6.1,0,0,0-6.5,2.54c-1,1.38-1.94,2.85-3.52,3.69l0,0c-.06-2,1-3.75,1.58-5.58,1.29-3.76,2.9-7.42,3.57-11.38a21.67,21.67,0,0,1,3.66,4.9c.65,1,1.28.92,2.11.33A6.07,6.07,0,0,0,204.74,31c.41-1.23.75-2.47,1.17-3.7a12.38,12.38,0,0,1,.87-2.08,2.38,2.38,0,0,1,2.41-1.33c1.17.15,1,1.26,1.07,2.06.32,4.09.61,8.18.89,12.28A23.62,23.62,0,0,0,211.83,43.64Z'/%3E%3Cpath class='cls-14' d='M492.35,57.88A4.2,4.2,0,0,1,491.24,61a11.37,11.37,0,0,0-.41-2.29c-.56-1.33-1.88-1.34-3-1.34s-.8,1-.95,1.72-.32,1.46-.48,2.2c-1-1.13-.93-2.62-1.28-4-1.22-4.74-3.58-8.53-8-11a65.37,65.37,0,0,1-5.65-3.84,4.33,4.33,0,0,1-1.95-3.24c-.28-2.92-.53-5.84.51-8.7,1.66-4.58.8-8.72-2.19-12.52-1.74-2.21-3.59-4.4-3.77-7.42-.06-.94-.53-2,.74-2.52a2.5,2.5,0,0,1,3.18.63c4.95,5.14,7.82,11.14,7.93,18.36a52.3,52.3,0,0,0,.51,8.77,6.31,6.31,0,0,0,1.86,3.7C484.06,44.89,488.15,51.42,492.35,57.88Z'/%3E%3Cpath class='cls-13' d='M87.63,198.31l14-3.17,3.12-.69,16.73.75c-.51,3.68-2.23,6.86-3,10.32H88.95c-.65,0-1.32,0-1.74-.6A34.12,34.12,0,0,1,87.63,198.31Z'/%3E%3Cpath class='cls-14' d='M486.27,63.34v3c-1.87-.16-3.44-1.71-5.05-.24a10.57,10.57,0,0,0-6.61-5.89c-2.14-.79-4.34-1.39-6.5-2.11-2-.65-3.89-1.37-5.85-2A4.33,4.33,0,0,1,459,51.18c.1-1.41,0-2.83,0-4.24.24-4.52-1.91-7.66-5.64-9.91-1-.62-2.11-1.13-3.14-1.73a5.9,5.9,0,0,1-2.2-1.9c-.81-1.33-1.56-3-.74-4.26.71-1.1,2.44-.45,3.65-.15a16.81,16.81,0,0,1,9.22,6.34,39.86,39.86,0,0,1,6.45,13.43,5.45,5.45,0,0,0,3.41,4c.1,0,.2.09.29.14C476.05,55.73,481.81,58.55,486.27,63.34Z'/%3E%3Cpath class='cls-14' d='M499.29,57.48l-5.8-1.41c.76-3.57-.5-6.61-2.55-9.42-2.24-3.06-4.43-6.16-6.8-9.12-1.86-2.33-1.74-4.46,0-6.7.74-.93,1.37-2,2.11-2.88,2.78-3.48,3.1-7.27,1.4-11.29-.5-1.2-1.14-2.34-1.66-3.53-1.3-2.94-1-4.3,1.4-7.17,4.69,3.09,6.3,7.75,6.67,13A32.45,32.45,0,0,1,492,32.06c-1.07,3-1,5.6.83,8.23.79,1.15,1.26,2.52,2,3.73A36,36,0,0,1,499.29,57.48Z'/%3E%3Cpath class='cls-4' d='M514.78,67.36a.47.47,0,0,0,.4-.18c2.55-.51,4,.79,5.23,2.86a12.19,12.19,0,0,1,.93,11.23,25.19,25.19,0,0,1-3,5.72c-1.09-2.51-1.09-5.27-1.9-7.85-.22-.71-.2-1.53-1.28-1.81-1.14,2-1,4.35-1.31,6.52-.63,4.05-1,4.33-4.9,3.5-2.34-.5-3.43-1.94-4-4.16-.33-1.33.06-3.11-1.23-3.89s-2.69.37-4.09.39a22.88,22.88,0,0,0-2.9.34c-1.42.2-2.56,0-3.06-1.62s.31-2.41,1.63-3a35,35,0,0,1,7.12-2.21,34.7,34.7,0,0,0,9.47-3.31A7.08,7.08,0,0,0,514.78,67.36Z'/%3E%3Cpath class='cls-14' d='M479.86,67.37c.1.42.22.83.3,1.25.55,3,.7,4.27-3.28,5.31-3.78-4.33-8.34-6.79-14.28-6.22a53.56,53.56,0,0,1-5.85.14,8.46,8.46,0,0,1-8.18-6.92c-.71-4.19-3.28-6.49-7.21-7.34a7.72,7.72,0,0,1-4.9-2.9,2.1,2.1,0,0,1,0-2.67,1.8,1.8,0,0,1,2.21-.86,54.55,54.55,0,0,1,8.71,2.61,7.61,7.61,0,0,1,3.77,3.44c.45.86.9,1.74,1.43,2.56,2.13,3.31,4.73,5.74,9,6.14,5.11.47,9.87,2.43,14.63,4.26A10.8,10.8,0,0,0,479.86,67.37Z'/%3E%3Cpath class='cls-6' d='M291,57.39a2.52,2.52,0,0,0-1.88,3.25c.29,1.37.67,2.73,1,4.08.45,1.67,1,3.3,1.39,5,.56,2.74-.18,4.23-2.28,5A5,5,0,0,1,283,72.77c-.11-.18-.16-.41-.29-.58-.71-1-.33-3-2-2.82-1.07.14-.34,1.89-.72,2.86-.63,1.59-1.39,3-3.44,2.8a4,4,0,0,1-1-3,97.13,97.13,0,0,1-.1-10.33c.19-2.62.14-2.62,2.64-2.83.54,0,1.07-.12,1.6-.18a19.13,19.13,0,0,0,9-1.85C289.59,56.49,290.55,55.89,291,57.39Z'/%3E%3Cpath class='cls-11' d='M194.88,26.79a3.51,3.51,0,0,0-2.66,2c-.44.7-.66,1.58-1.55,1.91A10.85,10.85,0,0,0,189,28a21.53,21.53,0,0,1-1.78-3.08,1.7,1.7,0,0,1,.26-2.11,1.81,1.81,0,0,1,2.12-.12A11.78,11.78,0,0,1,194.88,26.79Z'/%3E%3Cpath class='cls-13' d='M612.26,62.76a3,3,0,0,1-.15-.5c0-.07.1-.15.15-.21.14.23.28.44.43.66l-.2.2Z'/%3E%3Cpath class='cls-14' d='M503.29,57c-.12.31-.31.42-.62.22C502.78,56.85,503,56.82,503.29,57Z'/%3E%3Cpath class='cls-6' d='M565.14,106.64c-.09.26,0,.71-.54.47C564.63,106.78,564.85,106.67,565.14,106.64Z'/%3E%3Cpath class='cls-16' d='M46.8,101.27q-6.09-18-12.18-36.08a2.57,2.57,0,0,0-.35-.54,5.16,5.16,0,0,0,.11-.6c3.09.27,5.46,1.94,7.63,4a31.24,31.24,0,0,1,6.19,8.71c2.19,4.24,4.25,8.54,6.43,12.78a38.18,38.18,0,0,0,7.71,10.8,18.64,18.64,0,0,0,14.64,5,3.45,3.45,0,0,0,2.74-1.46c.72-.95,1.53-1.83,2.3-2.74,3.27,1.33,4.29,4.09,4.56,7.28.37,4.37-.41,8.65-1,13-2,.64-3.84,1.79-6,2,.16-3.06-1.3-4.82-4-6.27-8.31-4.43-16.45-9.17-24.67-13.77C49.56,102.52,48.16,101.93,46.8,101.27Z'/%3E%3Cpath class='cls-16' d='M581.91,39.58c.16.28.29.65,0,.85s-.44-.13-.54-.38Z'/%3E%3Cpath class='cls-5' d='M302.6,87.68c-.17.2-.33.47-.57.11,0,0,.2-.24.31-.37Z'/%3E%3Cpath class='cls-11' d='M191.54,45.74l-.12.21.15-.18Z'/%3E%3Cpath class='cls-16' d='M400.88,48.43c-.75,0-.5-.64-.59-1C400.69,47.61,401.13,47.83,400.88,48.43Z'/%3E%3Cpath class='cls-11' d='M393.06,31.42l.24.27c-.05,0-.14,0-.16-.08a.75.75,0,0,1,0-.24Z'/%3E%3Cpath class='cls-16' d='M13.86,50.66c.22.29.7.52.35,1s-.69,0-1-.11Z'/%3E%3Cpath class='cls-16' d='M20.13,47c.12.15.39.38.35.43-.23.38-.51.22-.78,0C19.84,47.25,20,47.1,20.13,47Z'/%3E%3Cpath class='cls-13' d='M611.44,63.48c.14-.39.27-.77.8-.72C612.23,63.28,611.85,63.4,611.44,63.48Z'/%3E%3C/svg%3E");

}

.logo-container {
    padding: 20px;
    position: relative;
}

.logo-container:before {
    content: "";
    position: absolute;
    border: 2px solid;
    height: 90%;
    width: calc(100% - 50px);
    top: 10px;
    left: 25px;
}

.logo > span {
    display: block;
}

.logo .title {
    font-size: 16pt;
    font-weight: 600;
}

header .social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-links i.fab {
    margin: 5px;
    font-size: 20pt;
    color: white;
}

ul.languages > li {
    display: inline-block;
    font-weight: 600;
    margin: 10px;
}

ul.languages {
    display: inline-block;
    background-color: white;
    padding: 0 10px;
}

.language-switch {
    text-align: right;
}

ul.languages > li a {
    color: #7f7f7f;
}

ul.languages > li.current-lang a {
    color: #ff8224;
}
/** Menu **/
nav.navbar.main-menu {
    background-color: white !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
}
ul#menu-main-menu > li.menu-item {
    margin: 0 5px;
}
li.menu-item a.nav-link{
    padding: 5px 15px !important;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.5s;
}
li.menu-item a.nav-link:hover {
    background-color: orange;
    background-image: radial-gradient(ellipse at left bottom, #ff6f2d , #ffd300);
    color: white !important;
    transition: background-color 0.5s;

}


/*  Content  */

.container.content{
    background-color: white;
    padding: 3rem 2.5rem;
}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

.select-room {
    width:150px;
}

label.error {
    color: red;
}

#select-info {
    resize: none;
}
.sw-theme-default {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}